# Setup

In [2]:
import black
import glob
import pandas as pd

# Retrieving per-country list

We use the kworb website to retrieve the historic top songs that appeared in each country's weekly charts in Spotify

In [6]:
country_codes = [
    "us",
    "gb",
    "ad",
    "ar",
    "au",
    "at",
    "by",
    "be",
    "bo",
    "br",
    "bg",
    "ca",
    "cl",
    "co",
    "cr",
    "cy",
    "cz",
    "dk",
    "do",
    "ec",
    "eg",
    "sv",
    "ee",
    "fi",
    "fr",
    "de",
    "gr",
    "gt",
    "hn",
    "hk",
    "hu",
    "is",
    "id",
    "ie",
    "il",
    "jp",
    "kz",
    "lv",
    "lt",
    "lu",
    "my",
    "mt",
    "mx",
    "ma",
    "nl",
    "nz",
    "ni",
    "ng",
    "no",
    "pk",
    "pa",
    "py",
    "pe",
    "ph",
    "pl",
    "pt",
    "ro",
    "ru",
    "sa",
    "sg",
    "sk",
    "za",
    "kr",
    "es",
    "se",
    "ch",
    "tw",
    "th",
    "tr",
    "ua",
    "ae",
    "uy",
    "ve",
    "vn",
]

In [7]:
len(country_codes)

74

In [8]:
for country_code in country_codes:
    # Import historic top weekly songs for the country from kworb
    df = pd.read_html(
        f"https://kworb.net/spotify/country/{country_code}_weekly_totals.html",
        attrs={"class": "addpos sortable"},
    )[0]

    # Separate artist and song, drop unnecessary columns
    df[["Artist", "Song"]] = df["Artist and Title"].str.split(" - ", n=1, expand=True)
    df.drop(
        columns=["Wks", "T10", "Pk", "(x?)", "PkStreams", "Artist and Title"],
        inplace=True,
    )
    # Only keep the top 1000 songs
    df = df.iloc[:1000]
    # Save as CSVs
    df.to_csv(f"data/songLists/{country_code}.csv")

# Combined song list

*This code was made for the original purpose of analysing song lyrics per country*

We will now create a master spreadsheet with all the song names. In another notebook, we will add the lyrics to these songs.

In [9]:
df_all_songs = pd.DataFrame(columns=["Total", "Artist", "Song"])

# We concatenate all of the country produced lists onto one big dataframe
for file in glob.glob("data/songLists/*"):
    df_country_list = pd.read_csv(file)
    df_all_songs = pd.concat([df_all_songs, df_country_list])
    
# Remove all unnecessary columns
df_all_songs.drop(columns="Unnamed: 0", inplace=True)
df_all_songs

,Total,Artist,Song
0,67086,Luis Fonsi,Despacito (Featuring Daddy Yankee)
1,60876,Ed Sheeran,Shape of You
2,52948,C. Tangana,Tú Me Dejaste De Querer
3,50953,Maluma,Hawái
4,44651,Bad Bunny,DÁKITI
...,...,...,...
995,399600,Ice Spice,In Ha Mood
996,399345,Metro Boomin,Calling (Spider-Man: Across the Spider-Verse) ...
997,398916,Megan Thee Stallion,Savage
998,398702,Kehlani,Nights Like This
999,397865,Juice WRLD,Conversations